/* .shadow {
  text-shadow: #fc0 1px 0 10px;
  font-size: large;
  box-shadow: 10px 5px 5px red;
} */
ol,
ul {
  list-style: none;
}
/* .border {
  width: 768px;
  height: 1150px;
  border: 1px solid;
  display: flex;
  justify-content: center;
}

.sun {
  width: 30px;
  height: 30px;
  background: red;
  border-radius: 50px;
} */

body {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #fc0;
  width: 900px;
  height: 750px;
  margin: 20px;
}

.house {
  /* width: 900px;
  height: 900px;
  border: 5px solid lightgray;
  /* background: royalblue; */
  position: relative;
  /* border: 5px solid lightgray;
  height: 300px; */
}

.roof {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 240px solid transparent;
  border-right: 240px solid transparent;
  border-bottom: 172px solid rgb(43, 8, 139);
  left: 10px;
  top: 21px;
  z-index: 1;
}

.sun {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 1px solid white;
  border-radius: 50%;
  background: rgb(39, 4, 165);
  left: 10px;
  top: 30px;
}

.wall {
  position: absolute;
  width: 370px;
  height: 200px;
  border: 2px solid white;
  background: sienna;
  left: 65px;
  top: 193px;
}

.door {
  position: absolute;
  width: 86px;
  height: 117px;
  background: rgb(32, 19, 2);
  left: 80px;
  top: 279px;
}

.window {
  position: absolute;
  width: 70px;
  height: 70px;
  background: burlywood;
  left: 320px;
  top: 250px;
}

.pipe {
  position: relative;
  width: 50px;
  height: 50px;
  background: #e76873;
  /* margin: auto; */
  transform: perspective(20px) rotateX(0deg) rotateY(-1deg);
  left: 126px;
  top: 60px;
}
